{% extends "base.html" %}

{% block title %}Вход{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="columns">

    <div class="text-center column col-12 my-2">
        <h1>Вход</h1>
    </div>

    <div class="column col-12">
        <form name="signin" method="post">
            <div class="columns">

                <div class="column col-12">
                    <div class="form-group">
                        <div class="columns">
                            <div class="column col-3"></div>
                            <div class="column col-6">
                                <div class="form-group">
                                    <label class="form-label" for="email">E-mail</label>
                                    <input class="form-input" required name="email" type="email" id="email"
                                           placeholder="E-mail">

                                    <label class="form-label" for="password">Пароль</label>
                                    <input class="form-input" required name="password" type="password" id="password"
                                           placeholder="Пароль">
                                </div>

                            </div>
                            <div class="column col-3"></div>
                        </div>
                    </div>
                </div>
                <div class="column col-2 col-mx-auto my-2">
                    <button type="submit" class="btn btn-lg btn-primary btn-block my-2">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}